*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    background: #f5f0ea;
    color: #111;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
  }
  
  h1,h2,h3{
    font-family: 'Playfair Display', serif;
  }
  
  html{
    scroll-behavior: smooth;
  }
  
  /* NAVBAR */
  
  nav a{
    position: relative;
    text-decoration: none;
  }
  
  nav a::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background: currentColor;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
  }
  
  nav a:hover::after{
    width: 100%;
  }
  
  .active-link{
    font-weight: bold;
  }
  
  /* BUTTONS */
  
  button{
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  button:hover{
    transform: translateY(-3px);
  }
  
  /* PRODUCT CARDS */
  
  .product-card{
    transition: 0.4s;
  }
  
  .product-card:hover{
    transform: translateY(-10px);
  }
  
  .product-card img{
    transition: 0.5s;
  }
  
  .product-card:hover img{
    transform: scale(1.05);
  }
  
  /* IMAGE FIX */
  
  img{
    display: block;
  }
  
  section{
    overflow: hidden;
  }
  
  /* LINKS */
  
  a{
    text-decoration: none;
    color: inherit;
  }
  
  /* SCROLL ANIMATION */
  
  .fade-up{
    opacity: 0;
    transform: translateY(40px);
    transition: all 1s ease;
  }
  
  .fade-up.active{
    opacity: 1;
    transform: translateY(0);
  }